In [82]:
import pandas as pd

In [83]:
df1 = pd.read_csv('CSV/action.csv')
df2 = pd.read_csv('CSV/adventure.csv')
df3 = pd.read_csv('CSV/animation.csv')
df4 = pd.read_csv('CSV/crime.csv')
df5 = pd.read_csv('CSV/family.csv')
df6 = pd.read_csv('CSV/mystery.csv')
df7 = pd.read_csv('CSV/romance.csv')
df8 = pd.read_csv('CSV/horror.csv')
df9 = pd.read_csv('CSV/scifi.csv')
df10 = pd.read_csv('CSV/war.csv')
df11= pd.read_csv('CSV/thriller.csv')

In [84]:
main_df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11])

In [85]:
main_df= main_df.drop_duplicates()

In [86]:
main_df.columns

Index(['movie_id', 'movie_name', 'year', 'certificate', 'runtime', 'genre',
       'rating', 'description', 'director', 'director_id', 'star', 'star_id',
       'votes', 'gross(in $)'],
      dtype='object')

In [87]:
#main_df[main_df['movie_id'].isnull()] # check null values in id name and genre

In [88]:
main_df['genre']= main_df['genre'].apply(lambda x: x.split())

In [89]:
main_df['description']= main_df['description'].apply(lambda x: x.split())

In [90]:
main_df['my_tag']= main_df['genre'] + main_df['description']

In [56]:
#327574 totsl count

In [91]:
#235071  delet dublicates

In [99]:
Movies = main_df[['movie_id','movie_name','my_tag','year']]

In [100]:
Movies.head(1)

,movie_id,movie_name,my_tag,year
0,tt9114286,Black Panther: Wakanda Forever,"[Action,, Adventure,, Drama, The, people, of, ...",2022

In [101]:
Movies['my_tag'] = Movies['my_tag'].apply(lambda x:[i.replace(",","") for i in x]).apply(lambda x:" ".join(x)).apply(lambda x:x.lower())

C:\Users\admin\AppData\Local\Temp\ipykernel_8512\2035820889.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Movies['my_tag'] = Movies['my_tag'].apply(lambda x:[i.replace(",","") for i in x]).apply(lambda x:" ".join(x)).apply(lambda x:x.lower())

In [107]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

def mynltk(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [108]:
Movies['my_tag'] = Movies['my_tag'].apply(mynltk)

C:\Users\admin\AppData\Local\Temp\ipykernel_8512\502523888.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Movies['my_tag'] = Movies['my_tag'].apply(mynltk)

In [110]:
Movies.to_csv('CSV/MainCSV.csv')