In [48]:
import pandas as pd 
Movies = pd.read_csv('CSV/MainCSV.csv')

In [49]:
Movies= Movies.head(5000)

In [50]:
Movies= Movies.drop(['Unnamed: 0'], axis=1)

In [51]:
Movies.head()

,movie_id,movie_name,my_tag,year
0,tt9114286,Black Panther: Wakanda Forever,action adventur drama the peopl of wakanda fig...,2022
1,tt1630029,Avatar: The Way of Water,action adventur fantasi jake sulli live with h...,2022
2,tt5884796,Plane,action thriller a pilot find himself caught in...,2023
3,tt6710474,Everything Everywhere All at Once,action adventur comedi a middle-ag chines immi...,2022
4,tt5433140,Fast X,action crime mysteri dom toretto and hi famili...,2023

In [52]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [53]:
vactor = cv.fit_transform(Movies['my_tag'])
import numpy as np

In [54]:
my_vactor = vactor.toarray()

In [56]:
from sklearn.metrics.pairwise import cosine_similarity

In [57]:
sim = cosine_similarity(my_vactor)

In [58]:
sim[0]

array([1.        , 0.20965697, 0.07412493, ..., 0.05661385, 0.26311741,
       0.12104551])