In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('CSV/war.csv')

In [13]:
df.head(1)

,movie_id,movie_name,year,certificate,runtime,genre,rating,description,director,director_id,star,star_id,votes,gross(in $)
0,tt1016150,All Quiet on the Western Front,2022,R,148 min,"Action, Drama, War",7.8,A young German soldier's terrifying experience...,Edward Berger,/name/nm0074163/,"Felix Kammerer, \nAlbrecht Schuch, \nAaron Hil...","/name/nm0436835/,/name/nm3477129/,/name/nm6037...",139754.0,NaN

In [14]:
df['genre']= df['genre'].apply(lambda x: x.split())

In [15]:
df['description']= df['description'].apply(lambda x: x.split())

In [16]:
df['my_tag']= df['genre'] + df['description']

In [17]:
Movies = df[['movie_id','movie_name','my_tag','year']]

In [18]:
Movies.head(1)

,movie_id,movie_name,my_tag,year
0,tt1016150,All Quiet on the Western Front,"[Action,, Drama,, War, A, young, German, soldi...",2022

In [19]:
Movies['my_tag'] = Movies['my_tag'].apply(lambda x:[i.replace(",","") for i in x]).apply(lambda x:" ".join(x)).apply(lambda x:x.lower())

C:\Users\admin\AppData\Local\Temp\ipykernel_12592\2035820889.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Movies['my_tag'] = Movies['my_tag'].apply(lambda x:[i.replace(",","") for i in x]).apply(lambda x:" ".join(x)).apply(lambda x:x.lower())

In [20]:
Movies['my_tag'][1]

"comedy drama war a young german boy in the hitler youth whose hero and imaginary friend is the country's dictator is shocked to discover that his mother is hiding a jewish girl in their home."

In [21]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

def mynltk(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [22]:
Movies['my_tag'] = Movies['my_tag'].apply(mynltk)

C:\Users\admin\AppData\Local\Temp\ipykernel_12592\502523888.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Movies['my_tag'] = Movies['my_tag'].apply(mynltk)

In [23]:
Movies['my_tag'][1]

"comedi drama war a young german boy in the hitler youth whose hero and imaginari friend is the country' dictat is shock to discov that hi mother is hide a jewish girl in their home."

In [24]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')
vactor = cv.fit_transform(Movies['my_tag'])
import numpy as np

In [25]:
my_vactor = vactor.toarray()

In [26]:
my_vactor[1]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [27]:
from sklearn.metrics.pairwise import cosine_similarity

In [28]:
sim = cosine_similarity(my_vactor)

In [30]:
sim[0]

array([1.        , 0.28171808, 0.438357  , ..., 0.17213259, 0.11009638,
       0.25819889])

In [34]:
def find_by_name(name):
    movie_index = Movies['movie_id'][Movies["movie_name"] == name].index[0]
    distance = sim[movie_index]
    movies_list = sorted(list(enumerate(distance)),reverse=True,key = lambda x:x[1])[1:6]
    list_of_movies = []
    for i in movies_list:
         #list_of_movies.append(i[0])
         list_of_movies.append(Movies.iloc[i[0]].movie_name)
    return list_of_movies

In [111]:
find_by_name("Red Dog")

['The Assassination',
 'Mendilim Kekik Kokuyor',
 'The Founding of an Army',
 'The Action',
 'War Dog']

In [113]:
find_by_name("The Assassination")

['Red Dog',
 'Cuartelazo',
 'Kurukshetra',
 'Born Out of the Ashes',
 'Alexander I: Into the Woods']