In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('CSV/war.csv')

In [4]:
df.head(1)

,movie_id,movie_name,year,certificate,runtime,genre,rating,description,director,director_id,star,star_id,votes,gross(in $)
0,tt1016150,All Quiet on the Western Front,2022,R,148 min,"Action, Drama, War",7.8,A young German soldier's terrifying experience...,Edward Berger,/name/nm0074163/,"Felix Kammerer, \nAlbrecht Schuch, \nAaron Hil...","/name/nm0436835/,/name/nm3477129/,/name/nm6037...",139754.0,NaN

In [15]:
df.columns

In [5]:
find_genre = "Action"

In [19]:
df['rating'] = df['rating'].fillna(0)

In [21]:
#df.isnull().sum()

In [23]:
Movies = df[['movie_id', 'movie_name', 'rating', 'genre']]

In [26]:
sorted_data = Movies.sort_values(by='rating', ascending=False)[1:6]

In [27]:
sorted_data

        movie_id                    movie_name  rating                   genre
2805   tt9795588          The Bed-Sitting Room     9.6      Action, Drama, War
3949   tt7681554                          Yazh     9.5  Romance, Thriller, War
789   tt16591574                        Kobane     9.5                     War
2313   tt0989831              Jibon Theke Neya     9.3      Drama, Family, War
6893   tt2252574  The Hutou Fortress: Bacteria     9.2                     War