In [2]:
import pandas as pd 
Movies = pd.read_csv('CSV/MainCSV.csv')
Movies= Movies.head(5000)
Movies= Movies.drop(['Unnamed: 0'], axis=1)

In [5]:
Movies.columns

Index(['movie_id', 'movie_name', 'my_tag', 'year'], dtype='object')

In [20]:
Movies.head(2)

,movie_name,my_tag,year
0,Black Panther: Wakanda Forever,action adventur drama the peopl of wakanda fig...,2022
1,Avatar: The Way of Water,action adventur fantasi jake sulli live with h...,2022

In [13]:
movie_id = Movies.drop(['movie_id'], axis=1)

In [21]:
Movies[Movies['movie_name'] == "Avatar: The Way of Water"].index

Int64Index([1], dtype='int64')